@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section_padding_50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Manage your account</h2>
                <h4 class="section_padding_0_50">Change your account settings</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
