@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}


<section class="mosh-more-services-area section_padding_100">
    <div class="container">
        <div>
            <p>
                Thank you for confirming your email.
            </p>
        </div>
    </div>
</section>
