@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<section class="mosh-more-services-area section_padding_100">
    <div class="container">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</section>

